# Mentoria Evolution - Exercícios Python

https://minerandodados.com.br

* Para executar uma célula digite **Control + enter** ou clique em **Run**.
* As celulas para rodar script Python devem ser do tipo code.
* Crie células abaixo das celulas que foram escrito o enunciado das questões com as respostas.

**Obs**: Caso de dúvidas, volte na aula anterior de Python. Não desista :)

## Exercícios de Fixação

1) Imprima a frase **"Eu sou Minerador de Dados!"**

In [1]:
print ("Eu sou Minerador de Dados")

Eu sou Minerador de Dados

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
print(2+2)
print(6-2)
print(6*2)
print(8/2)

4
4
12
4.0

3) Imprima o tipo de um determinado do valor **10**.

In [3]:
type(10)

int

4) Converta o valor passado anteriormente para o tipo **float**

In [4]:
float(10)

10.0

5) Faça a conversão do valor float recebido anteriormente para o tipo **string**

In [5]:
str(10)

'10'

6) Utilizando variáveis faça:
- a) Defina uma variável com o **seu nome** e imprima o seu valor.
- b) Imprima o **tipo** dessa variável.
- c) Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, **Felipe Santana**.
- d) Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [10]:
name = "Bárbara"
last_name = "Silveira"
print(type(name))
print(name + " " + last_name)
email, age = "barbarasilveiraf@gmail.com", 25
print(email)
print(age)

<class 'str'>
Bárbara Silveira
barbarasilveiraf@gmail.com
25

7) Utilizando funções de arredonamento faça:
- a) Arredonde o valor 2.898
- b) Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [14]:
print("a) "+ str(round(2.898,0)))
print("b) "+ str(round(2.4545455,4)))

a) 3.0
b) 2.4545

9) Sobre os objetos Strings, faça:
- a) Defina uma variavel com a string: "Python é uma maldição!" e imprima
- b) Imprima o primeiro caracter da variavel.
- c) Imprima os valores do primeiro caracter até o 6.
- d) Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- e) Faça uma contagem de quantas vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
    - Obs: Crie uma variável chamada "frase" com a frase acima.
- f) Substitua o primeiro caracter da frase acima para maiúsculo
- g) Quebre as palavras da frase separado por virgula, criando uma lista.

In [46]:
var = "Python é uma maldição!"
print("a) " + var)
print("b) " + var[0])
print("c) " + var[:6])
print("d) " + str(len([x for x in var])))
frase = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
print("e) " + str(frase.count("dados")))
print("f) " + str.upper(frase[0])+frase[1:])
print("g) " + str(frase.split(",")))

a) Python é uma maldição!
b) P
c) Python
d) 22
e) 2
f) Dados é o novo petróleo, em Deus eu confio, para o resto me traga dados..
g) ['dados é o novo petróleo', ' em Deus eu confio', ' para o resto me traga dados..']

- Ao concluir, salve seu notebook e envie suas respostas para **contato@minerandodados.com.br**